@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-6: 24px;
  --space-8: 32px;
  --space-12: 48px;
  --space-16: 64px;
  --space-18: 72px;
  --space-24: 96px;
  --space-32: 128px;
  --space-48: 192px;
  --space-64: 256px;
  --space-96: 384px;
  --space-lg: 512px;
  --space-xl: 640px;
  --space-2xl: 768px;
  --text-xs: 12px;
  --colors-neutral-900: #1d1e20ff;
  --colors-neutral-800: #28292fff;
  --colors-neutral-700: #3c3e48ff;
  --colors-neutral-600: #595b69ff;
  --colors-neutral-500: #7b7f8eff;
  --colors-neutral-400: #979aaaff;
  --colors-neutral-300: #bcbec8ff;
  --colors-neutral-200: #e0e1e6ff;
  --colors-neutral-100: #f9fafaff;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-4xl: 48px;
  --rounded-xsmall: 4px;
  --text-5xl: 72px;
  --colors-primary-900: #063b57ff;
  --colors-accent-900: #013735ff;
  --colors-accent-800: #074f4bff;
  --colors-accent-700: #0c6f6aff;
  --colors-accent-600: #1ea49dff;
  --colors-accent-500: #22c7bfff;
  --colors-accent-400: #64f4edff;
  --colors-accent-300: #affbf7ff;
  --colors-accent-200: #b2f9f5ff;
  --colors-accent-100: #d3fffdff;
  --colors-success-900: #004c20ff;
  --colors-alert-900: #400a00ff;
  --colors-alert-800: #571004ff;
  --colors-alert-700: #751908ff;
  --colors-alert-600: #902715ff;
  --colors-alert-500: #ad402dff;
  --colors-alert-400: #e5715cff;
  --colors-alert-300: #ed9788ff;
  --colors-alert-200: #fbbfb4ff;
  --colors-alert-100: #ffdcd6ff;
  --colors-success-800: #01652bff;
  --colors-success-700: #11803fff;
  --colors-success-600: #1eab59ff;
  --colors-success-500: #3dd47cff;
  --colors-success-400: #50e58eff;
  --colors-success-300: #65f09fff;
  --colors-success-200: #80f5b1ff;
  --colors-success-100: #acffceff;
  --colors-primary-800: #124e70ff;
  --colors-primary-700: #156691ff;
  --colors-primary-600: #217cadff;
  --colors-primary-500: #3d99c9ff;
  --colors-primary-400: #6db3d9ff;
  --colors-primary-300: #91cae9ff;
  --colors-primary-200: #c3e6f9ff;
  --colors-primary-100: #daf1fdff;
  --rounded-small: 8px;
  --rounded-medium: 12px;
  --rounded-large: 16px;
  --rounded-xlarge: 24px;
  --rounded-full: 999px;
  background: var(--colors-neutral-900, #1d1e20);
  color: var(--colors-neutral-100);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *:not(svg > *) {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
    box-sizing: border-box;
  }
  button {
    all: unset;
    display: inline-flex;
    padding: 6px var(--space-3, 12px);
    justify-content: center;
    align-items: center;
    gap: var(--space-1, 4px);
    border-radius: 1rem;
    cursor: pointer;
  }
  body {
    display: flex;
  }
}
@layer components {
  button {
    &.primary {
      background-color: var(--colors-primary-600);
      &:active {
        background-color: var(--colors-primary-500);
      }
    }
    &.ghost {
      border: 2px solid var(--colors-neutral-700);
    }
    &.alert {
      background-color: var(--colors-alert-600);
    }
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--colors-neutral-800);
    display: flex;
    width: 372px;
    padding: var(--space-6, 24px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-4, 16px);
    border-radius: var(--rounded-medium);
    z-index: 20;
  }
  .modal__icon {
    padding: var(--space-4, 16px);
    border-radius: var(--rounded-full);
    display: flex;
  }
  .modal__icon--alert {
    background-color: hsla(9, 72%, 63%, 0.1);
    & > svg * {
      stroke: var(--colors-alert-500);
    }
  }
  .modal__icon--primary {
    background-color: hsla(201, 87%, 18%, 0.49);
  }
  .modal__actions {
    display: flex;
    justify-content: stretch;
    gap: var(--space-3);
    width: 100%;
  }
  .modal__message {
    text-align: center;
  }
  .modal__text-input, .modal__select-input {
    border-radius: var(--rounded-full, 999px);
    border:none;
    background: var(--colors-neutral-700, #28292f);
    padding: var(--space-3, 12px) var(--space-6, 24px);
    display:block;
    width:100%;
    color:var(--colors-neutral-100);
    font-size: var(--text-base);
    &:focus {
      outline:2px solid var(--colors-primary-500);
    }
  }
  option[value=""] {
    display: none;
  }
  .modal__btn {
    padding: var(--space-3, 12px) var(--space-4, 16px);
    border-radius: var(--rounded-xlarge, 24px);
    font-weight: 600;
    display: block;
    flex: 1 0 0;
    text-align: center;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: hsla(9, 0%, 10%, 0.18);
    backdrop-filter: blur(3px);
  }

  .toast {
    display: flex;
    padding: var(--space-2, 8px) var(--space-4, 16px);
    justify-content: space-between;
    align-items: center;
    border-radius: var(--rounded-small, 8px);
    & > .toast--info {
      display: flex;
      align-items: center;
      gap: var(--space-2, 8px);
      flex: 1 0 0;
      stroke: var(--colors-success-500);
      font-size: var(--text-sm, 14px);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .toast__btn--close {
    display: flex;
    padding: var(--space-1, 4px);
    justify-content: center;
    align-items: center;
    gap: 10px;

    .toast--alert & {
      stroke: var(--colors-alert-700, #751908);
    }
    .toast--success & {
      stroke: var(--colors-success-700, #11803f);
    }
  }
  .toast--success {
    background: var(--colors-success-900, #004c20);
    color: var(--colors-success-200, #80f5b1);
    .toast--info {
      stroke: var(--colors-success-500, #3dd47c);
    }
  }
  .toast--alert {
    background: var(--colors-alert-900, #400a00);
    color: var(--colors-alert-200, #fbbfb4);
    .toast--info {
      stroke: var(--colors-alert-500);
    }
  }
  #toast-drawer {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    position: fixed;
    bottom: var(--space-4);
    right: var(--space-4);
    z-index: 100;
    width: min(100%, 20rem);
  }

  .navbar {
    display: flex;
    width: 280px;
    height: 100vh;
    padding: var(--space-6, 24px) var(--space-4, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-6, 24px);
    background: rgba(40, 41, 47, 0.62);
  }

  .navbar__header {
    display: flex;
    padding: 0 var(--space-4, 16px);
    align-items: center;
    gap: var(--space-1, 4px);
    align-self: stretch;
  }

  .home {
    display: flex;
    padding: var(--space-2, 8px) var(--space-4, 16px);
    align-items: flex-start;
    gap: var(--space-3, 12px);
    align-self: stretch;
  }

  .home p {
    color: var(--colors-neutral-300, #bcbec8);
    font-size: var(--text-base, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
  }

  .progress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-1, 4px);
    align-self: stretch;
  }

  .navbar__header img {
    width: 19.526px;
    height: 24px;
  }

  .navbar__header h1 {
    color: #fff;
    font-size: var(--text-lg, 18px);
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 23.4px */
  }

  .home img {
    width: 20px;
    height: 20px;
  }

  .home p {
    color: var(--colors-neutral-300, #bcbec8);
    font-size: var(--text-base, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
  }

  .progress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-1, 4px);
    align-self: stretch;
  }

  .container {
    display: flex;
    padding: var(--space-1, 4px) var(--space-4, 16px);
    align-items: center;
    gap: var(--space-1, 4px);
    align-self: stretch;
  }

  .container p {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 23.4px */
  }

  .container-low {
    display: flex;
    padding: 0 var(--space-2, 8px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-1, 4px);
    align-self: stretch;
  }

  .container-low p {
    color: var(--colors-neutral-100, #f9fafa);
    font-size: var(--text-sm, 14px);
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 18.2px */
  }

  .container-low .prog-bar {
    position: ans;
  }

  .container-low span {
    color: var(--colors-neutral-400, #979aaa);
    font-size: var(--text-sm, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  .container-low svg {
    position: relative;
  }

  .panel {
    display: flex;
    width: 100%;
    padding-top: var(--space-12, 48px);
    flex-direction: column;
    align-items: center;
    gap: var(--space-4, 16px);
  }

  .kanban {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;
    padding: 0 40px;
    justify-content: center;
  }

  .kanban .list {
    display: flex;
    padding: var(--space-3, 12px) var(--space-4, 16px);
    align-items: center;
    align-self: stretch;
    border-radius: var(--rounded-small, 8px);
    border: 1px solid var(--colors-neutral-700, #3c3e48);
    background: var(--colors-neutral-800, #28292f);
  }

  .kanban .item {
    display: flex;
    align-items: center;
    gap: var(--space-2, 8px);
  }

  .kanban .item p {
    color: var(--colors-neutral-100, #f9fafa);
    font-size: var(--text-base, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .time-left {
    display: flex;
    align-items: center;
    gap: var(--space-1, 4px);
  }

  .status {
    display: flex;
    width: 366px;
    padding: var(--space-6, 24px) var(--space-4, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-3, 12px);
    border-radius: var(--rounded-small, 8px);
    border: 1px solid var(--colors-neutral-700, #3c3e48);
    background: linear-gradient(
        0deg,
        rgba(40, 41, 47, 0.15) 0%,
        rgba(40, 41, 47, 0.15) 100%
      ),
      #1d1e20;
  }

  .categories {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-2, 8px);
    align-self: stretch;
  }

  .title {
    display: flex;
    padding: var(--space-1, 4px) var(--space-4, 16px);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  .categories ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-2, 8px);
    align-self: stretch;
  }

  .categories li {
    display: flex;
    padding: var(--space-2, 8px) var(--space-4, 16px);
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }

  .categories ul li:nth-child(1) {
    border-radius: var(--rounded-medium, 12px);
    background: var(--colors-neutral-700, #3c3e48);
    font-weight: 700;
  }

  .headerp {
    display: flex;
    padding: var(--space-3, 12px) 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-3, 12px);
    align-self: stretch;
  }

  .headerp .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .categories-container .upper {
    display: flex;
    align-items: center;
    gap: var(--space-3, 12px);
  }

  .streak-group {
    display: flex;
    align-items: center;
  }

  .streak-group .streak-count {
    color: var(--colors-alert-500, #ad402d);
    font-size: var(--text-sm, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 18.2px */
  }

  .title-container {
    display: flex;
    align-items: center;
    gap: var(--space-3, 12px);
  }

  .title-container p {
    color: var(--colors-neutral-300, #bcbec8);
    font-size: var(--text-sm, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .title-container .icon {
    color: #fff;
    font-size: var(--text-3xl, 32px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .title-container .lower {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  .lower .tabs {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .tabs ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
  }

  .tabs ul li {
    display: flex;
    padding: var(--space-2, 8px) var(--space-3, 12px);
    justify-content: center;
    align-items: center;
    gap: var(--space-1, 4px);
  }

  .tabs ul li:nth-child(1) {
    border-radius: var(--rounded-xlarge, 24px);
    background: var(--colors-neutral-800, #28292f);
  }

  .actions {
    display: flex;
    align-items: center;
    gap: var(--space-1, 4px);
    color: var(--colors-neutral-100, #f9fafa);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .reorder {
    display: flex;
    padding: 6px var(--space-3, 12px);
    justify-content: center;
    align-items: center;
    gap: var(--space-1, 4px);
    border-radius: var(--rounded-xlarge, 24px);
    background: var(--colors-neutral-800, #28292f);
  }

  .actions .new {
    display: flex;
    padding: 6px var(--space-3, 12px);
    justify-content: center;
    align-items: center;
    gap: var(--space-1, 4px);
    border-radius: var(--rounded-xlarge, 24px);
    background: var(--colors-primary-600, #217cad);
  }

  .lower {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  hr {
    width: 100%;
    height: 3px;
    background-color: var(--colors-neutral-800, #28292f);
    border: none;
  }

  .default {
    display: flex;
    width: 100%;
    padding: 0 10vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .to-do-item {
    display: flex;
    padding: var(--space-3, 12px) var(--space-4, 16px);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: var(--rounded-small, 8px);
    background: var(--colors-neutral-800, #28292f);
  }

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .desc p {
    color: var(--colors-neutral-100, #f9fafa);
    font-size: var(--text-xl, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .desc .deadline {
    display: flex;
    align-items: center;
    gap: var(--space-1, 4px);
  }

  .deadline p {
    color: var(--colors-alert-400, #e5715c);
    font-size: var(--text-sm, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .to-do-actions {
    display: flex;
    align-items: center;
    gap: var(--space-2, 8px);
  }

  .to-do-actions .action {
    display: flex;
    padding: var(--space-2, 8px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--rounded-xlarge, 24px);
    background: var(--colors-neutral-600, #595b69);
  }

  #check {
    background: var(--colors-primary-600, #217cad);
  }
}
